@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Time to relax<br> ❤ for your enjoyable tour!!! ❤ </h1>
    <p class="lead">Hotel for culture: No rest, no tour!.</p>
    <img sizes="(max-width: 320px) 250px,
                    (max-width: 480px) 320px,
                    1000px"
         src="~/Images/background.jpg" />
    <p><br /> </p>
    @if (User.Identity.IsAuthenticated)
    {
        <p><a href="/Bookings/Create" class="btn btn-danger btn-lg">Booking Now &raquo;</a></p>
    }
    else
    {
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">ASPNET technology &raquo;</a></p>
    }

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Heritage</h2>
        <p>
            What is 'Heritage'?. If you do not know, see the this Wikipedia! 
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/World_Heritage_Site">Wiki &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Australia Heritage</h2>
        <p>Is there a selective phobia? Don't worry, the Australian government's heritage recommendation is for you.</p>
        <p><a class="btn btn-default" href="https://www.environment.gov.au/heritage">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Australia Hotel</h2>
        <p>Finally, play! The best hotel in Australia is recommended to you! Remember to pay attention to the direct distance from heritage.</p>
        <!-- <p><a class="btn btn-default" href="./Account/Login">Learn more &raquo;</a></p> -->
        <p><a class="btn btn-default" href="https://www.booking.com/country/au.en-gb.html">Let us go &raquo;</a></p>
    </div>
</div>