
@{
    ViewBag.Title = "Example";
}

<h2>Example</h2>

<div class="row">
    <div class="col-12 col-sm-6 col-md-8">FirstName<br />Hao</div>
    <div class="col-6 col-md-4">LastName<br />Wang</div>
</div>